.home-page {
  overflow: hidden;
}
.home-page .banner-component {
  margin-top: 90px;
  padding: 5% 7.5%;
  .slider {
    .img-cont {
      width: 70%;
      padding: 7.5px 10px;
      position: relative;
      .img {
        width: 100%;
        z-index: 2;
      }
    }
    .rec-arrow,
    .rec-arrow-left,
    .rec-arrow-right {
      border: 1px solid #efefef !important;
      border-radius: 5px;
      box-shadow: none !important;
      background: #fff !important;
      width: 42.5px !important;
      height: 42.5px !important;
      min-width: 42.5px !important;
      min-height: 42.5px !important;
      max-width: 42.5px !important;
      max-height: 42.5px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px !important;
      color: #00268f !important;
      &:hover,
      &:focus,
      &:active {
        background: #000000 !important;
        color: #fff !important;
      }
    }
    .rec-pagination {
      display: none;
    }
  }
}

@media (max-width: 1450px) {
  .home-page .banner-component {
    margin-top: 80px;
    padding: 5% 7.5%;
    .slider {
      .img-cont {
        width: 95%;
        padding: 6.5px 8.5px;
      }
      .rec-arrow,
      .rec-arrow-left,
      .rec-arrow-right {
        width: 35px !important;
        height: 35px !important;
        min-width: 35px !important;
        min-height: 35px !important;
        max-width: 35px !important;
        max-height: 35px !important;
        font-size: 22.5px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .home-page .banner-component {
    margin-top: 80px;
    padding: 50px 5% 7.5%;
  }
}

@media (max-width: 1450px) {
  .home-page .banner-component {
    .img-cont {
      width: 100%;
      padding: 3.5px 5px;
    }
    .rec-arrow,
    .rec-arrow-left,
    .rec-arrow-right {
      width: 30px !important;
      height: 30px !important;
      min-width: 30px !important;
      min-height: 30px !important;
      max-width: 30px !important;
      max-height: 30px !important;
      font-size: 20px !important;
    }
  }
}
