.log-in-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 50%;
  .log-in-form-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(#000, 0.1);
    width: clamp(1%, 600px, 100%);
    border-radius: 30px;
    padding: 30px 0;
    .form-title-description-container {
      border-bottom: 1px solid #d8d8d8;
      width: 80%;
      padding-bottom: 25px;
      .login-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-title {
          font-size: 34px;
          color: #323e64;
          font-weight: 500;
        }
        svg {
          cursor: pointer;
          color: #323e64;
          font-size: 30px;
        }
      }
      .form-description {
        margin-top: 20px;
        font-size: 18px;
        color: #7b7b7b;
      }
    }
    .log-in-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .login-input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
        p {
          font-size: 14px;
          color: #323e64;
        }
        .login-input {
          width: 100%;
          border: 1px solid #d8d8d8;
          display: flex;
          padding: 7.5px 5px 7.5px 15px;
          gap: 10px;
          border-radius: 10px;
          svg {
            flex-shrink: 0;
            font-size: 25px;
            fill: #7b7b7b;
            align-self: center;
          }
          input {
            flex: 1;
            border: none;
            outline: none;
            padding: 0 0 0 5px;
            &::placeholder {
              font-size: 14px;
              color: #7b7b7b;
            }
          }
        }
        &:focus-within {
          .login-input {
            outline: 2px solid #122e82;
          }
        }
      }
      .remember-me-login {
        display: flex;
        align-items: center;
        gap: 15px;
        label {
          font-size: 14px;
          color: #323e64;
        }
      }
      input[type="submit"] {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 10px;
        background-color: #122e82;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        padding: 12.5px 0;
      }
    }
    .dont-have-acc {
      color: #000;
      a {
        color: #122e82;
        font-size: 18px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -2.5px;
          top: 100%;
          left: 50%;
          right: 50%;
          height: 1px;
          background-color: #122e82;
          transition: 0.3s;
        }
        &:hover {
          &::after {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .log-in-form-container {
    width: 65%;
    .log-in-form-container-content {
      .form-title-description-container {
        .login-title {
          .form-title {
            font-size: 25px;
          }
        }
        .form-description {
          font-size: 15px;
        }
      }
      .log-in-form {
        .login-input-container {
          .login-input {
            input {
              width: 60%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .log-in-form-container {
    width: 80%;
    .log-in-form-container-content {
      .form-title-description-container {
        .login-title {
          .form-title {
            font-size: 22px;
          }
        }
        .form-description {
          font-size: 15px;
        }
      }
      .log-in-form {
        .login-input-container {
          .login-input {
            input {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
