.profile-page .profile-component {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  .profile-header {
    font-weight: 500;
    margin-bottom: 5%;
  }
  .profile-component-left {
    display: flex;
    // align-items: center;
    // width: 50%;
    flex-direction: column;
    width: clamp(1%, 700px, 100%);
    .select-input {
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      padding: 0 5px;
      &:focus-within {
        border: 1px solid #14213d;
      }
    }
    p {
      font-size: 14px;
      color: #323e64;
    }
    select {
      color: #7b7b7b;
      background: none !important;
      border: 0;
      outline: none;
      width: 100%;
      // font-size: max(0.85rem, 0.85vw);
      // font-size: 17px;
      // padding: 7.5px 5px 7.5px 15px;

      padding: 10px 15px;
      option {
        color: #7b7b7b;
      }
    }
    .profileupdate-title {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 15px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .form-title {
        font-size: max(1rem, 1.3vw);
        color: #323e64;
        font-weight: 500;
      }
      svg {
        cursor: pointer;
        color: #323e64;
        font-size: 30px;
      }
    }
    .profile-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .inline-inputs {
        display: flex;
        gap: 10px;
      }
      .profileupdate-input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
        p {
          font-size: 14px;
          color: #323e64;
        }
        .profileupdate-input {
          width: 100%;
          border: 1px solid #d8d8d8;
          display: flex;
          // padding: 7.5px 5px 7.5px 15px;
          padding: 10px 15px;
          gap: 10px;
          border-radius: 10px;
          svg {
            flex-shrink: 0;
            font-size: 22px;
            fill: #7b7b7b;
            align-self: center;
          }
          input {
            flex: 1;
            border: none;
            outline: none;
            padding: 0 0 0 5px;
            &::placeholder {
              font-size: 14px;
              color: #7b7b7b;
            }
          }
        }
        &:focus-within {
          .profileupdate-input {
            outline: 2px solid #122e82;
          }
        }
      }
      .remember-me-login {
        display: flex;
        align-items: center;
        gap: 15px;
        label {
          font-size: 14px;
          color: #323e64;
        }
      }
      input[type="submit"] {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 10px;
        background-color: #122e82;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        padding: 7.5px 0;
      }
    }
  }

  .profile-component-right {
    border: 1px solid red;
    width: 50%;
  }
}

@media (max-width: 1170px) {
  .profile-page .profile-component {
    display: flex;
    flex-direction: column;
    .profile-header {
      font-weight: 500;
      margin-bottom: 5%;
    }
    .profile-component-left {
      display: flex;
      flex-direction: column;
      //   width: clamp(1%, 700px, 100%);
      width: 100%;
      .profile-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .inline-inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .profileupdate-input-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          gap: 10px;
          p {
            font-size: 14px;
            color: #323e64;
          }
        }
      }
    }
  }
}
