.shipping-component {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  .product-final-text {
    font-weight: 500;
    text-transform: capitalize;
  }
  .shipping-left {
    width: 40%;
    .shipping-header {
      margin-bottom: 2.5%;
    }
    .order-details-form {
      width: clamp(1%, 700px, 100%);
      display: flex;
      flex-direction: column;
      gap: 15px;
      .inline-inputs {
        display: flex;
        gap: 10px;
        .orderdetails-input-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          gap: 10px;
          p {
            font-size: 14px;
            color: #323e64;
          }
          .orderdetails-input {
            width: 100%;
            border: 1px solid #d8d8d8;
            display: flex;
            padding: 10px 15px;
            gap: 10px;
            border-radius: 10px;
            svg {
              flex-shrink: 0;
              font-size: 22px;
              fill: #7b7b7b;
              align-self: center;
            }
            input {
              flex: 1;
              border: none;
              outline: none;
              padding: 0 0 0 5px;
              &::placeholder {
                font-size: 14px;
                color: #7b7b7b;
              }
            }
          }
          &:focus-within {
            .order-details-input {
              outline: 2px solid #122e82;
            }
          }
        }
      }
      p {
        font-size: 14px;
        color: #323e64;
      }
      .order-details-input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
        p {
          font-size: 14px;
          color: #323e64;
        }
        .order-details-input {
          width: 100%;
          border: 1px solid #d8d8d8;
          display: flex;
          padding: 10px 15px;
          gap: 10px;
          border-radius: 10px;
          svg {
            flex-shrink: 0;
            font-size: 22px;
            fill: #7b7b7b;
            align-self: center;
          }
          input {
            flex: 1;
            border: none;
            outline: none;
            padding: 0 0 0 5px;
            &::placeholder {
              font-size: 14px;
              color: #7b7b7b;
            }
          }
        }
        &:focus-within {
          .order-details-input {
            outline: 2px solid #122e82;
          }
        }
      }
      .select-input {
        border: 1px solid #d8d8d8;
        border-radius: 10px;
        padding: 0 5px;
        &:focus-within {
          border: 1px solid #14213d;
        }
      }
      p {
        font-size: 14px;
        color: #323e64;
      }
      select {
        color: #7b7b7b;
        background: none !important;
        border: 0;
        outline: none;
        width: 100%;
        padding: 10px 15px;
        option {
          color: #7b7b7b;
        }
      }
      textarea {
        width: 100%;
        border: 1px solid #d8d8d8;
        display: flex;
        padding: 7.5px 5px 7.5px 15px;
        gap: 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        color: #7b7b7b;
        outline: none;
        height: max(90px, 6vw);
        &::placeholder {
          color: #7b7b7b;
        }
        &:focus {
          border: 1px solid #fff;
        }
      }
      .remember-me-login {
        display: flex;
        align-items: center;
        gap: 15px;
        label {
          font-size: 14px;
          color: #323e64;
        }
      }
      input[type="submit"] {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 10px;
        background-color: #122e82;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        padding: 7.5px 0;
      }
    }
  }
  .shipping-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px 25px;
    gap: 15px;
    border-radius: 20px;
    .payment-products-container {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .payment-products-rows {
        display: flex;
        gap: 10px;
        .product-final-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    .payment-choices {
      display: flex;
      flex-direction: column;
      gap: 15px;
      select {
        color: #14213d;
        border: 1px solid #ababab;
        background: none !important;
        width: 65%;
        padding: 10px 15px;
        option {
          color: #7b7b7b;
        }
      }
    }
    .terms {
      display: flex;
      align-items: center;
      gap: 15px;
      .accept-terms {
        color: #323e64;
        a {
          color: #122e82;
          font-weight: 500;
        }
      }
    }
    .pay-btn {
      color: hsl(0, 0%, 100%);
      background-color: #ff0000;
      border: unset;
      font-size: max(0.8rem, 0.8vw);
      width: 100%;
    }
  }
}

@media (max-width: 915px) {
  .shipping-component {
    flex-direction: column-reverse;
    .shipping-left {
      width: 100%;
      .order-details-form {
        .inline-inputs {
          flex-direction: column;
        }
      }
    }
    .shipping-right {
      width: 100%;
    }
  }
}
