.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2000;
  box-shadow: rgba(60, 64, 67, 0.25) 0px 1px 3px 0px,
    rgba(60, 64, 67, 0.125) 0px 2px 6px 2px;
  background-color: #343537;
  padding: 10px 0;
  .top-navbar {
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .title-icon {
      .nav-icon {
        // height: max(110px, 7.5vw);
        height: 35px;
        content: url("../../../assets/othmanlogo.png");
      }
    }
    .nav-link-actions {
      margin: 0 max(12.5px, 1vw);
      padding: 0 max(4px, 0.3vw);
      display: flex;
      gap: 30px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        a {
          color: #fff;
          font-size: max(0.55rem, 0.8vw);
        }
        p {
          color: #fff;
          font-size: max(0.55rem, 0.8vw);
        }
      }
      svg {
        font-size: max(0.85rem, 1.2vw);
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .navbar-content {
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // .title-icon {
    //   .nav-icon {
    //     width: max(110px, 7.5vw);
    //     content: url("../../../assets/othmanlogo.png");
    //   }
    // }
    .navigation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .nav-link-container {
        margin: 0 max(12.5px, 1vw);
        padding: 0 max(4px, 0.3vw);
        a {
          padding: max(10px, 0.8vw) 0;
        }
        .nav-link {
          font-size: max(0.85rem, 0.9vw);
          font-weight: 500;
          color: #fff;
          position: relative;
        }
        &:hover {
          .navbar-megamenu {
            display: block;
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
      flex-direction: column;
      gap: 6px;
      width: 33px;
      cursor: pointer;
      .hamburger-line {
        align-self: flex-end;
        width: 100%;
        height: 5px;
        background-color: #fff;
      }
      &:hover {
        .hamburger-line {
          animation: grow 1s infinite alternate;
          &:nth-child(1) {
            animation-delay: 0.1s;
          }
          &:nth-child(2) {
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            animation-delay: 0.3s;
          }
        }
      }
    }
  }
  .side-bar {
    display: none;
  }
}
.sticky {
  background-color: #373435;
}
.sticky-nav-colors {
  color: #153131 !important;
}

.navbar .navbar-content .navigation {
  .nav-link-container {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .nav-link-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    width: 0;
    bottom: 0;
    background: #fff;
    height: 4px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
  .nav-link-container:hover:before,
  .nav-link-container:focus:before,
  .nav-link-container:active:before {
    width: 100%;
  }
}

@media (max-width: 1203px) {
  .navbar {
    .navbar-content {
      padding: 0 5%;
      .title-icon {
        width: 120px;
        margin-top: 2px;
        .nav-icon {
          width: 120px;
        }
      }
      .navigation {
        .nav-link-container {
          margin: 0 10px;
          padding: 0 3px;
        }
      }
    }
  }
}

@media (max-width: 921px) {
  .navbar {
    .navbar-content {
      padding: 0 2.5%;
      .title-icon {
        width: 120px;
        margin-top: 2px;
        .nav-icon {
          width: 120px;
        }
      }
      .navigation {
        .nav-link-container {
          margin: 0 10px;
          padding: 0 3px;
        }
      }
    }
  }
}

@media (max-width: 872px) {
  .navbar {
    .top-navbar {
      display: none;
    }
    .navbar-content {
      .title-icon {
        width: 140px;
      }
      .navigation {
        display: none;
      }
      .hamburger-menu {
        display: flex;
      }
    }
    .backdrop {
      display: block;
    }
    .side-bar {
      display: flex;
    }
  }
}

@keyframes grow {
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
