.product-page .product-detail-component {
  display: flex;
  flex-direction: column;
  margin: max(12.5vw, 140px) 0 max(35px, 3vw);
  width: 100%;
  padding: 0 5%;
  .product-detail-container {
    display: flex;
    gap: 50px;
    .productimage-container {
      width: 50%;
    }
    .product-info {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      .product-info-details {
        display: flex;
        width: 100%;
        gap: 20px;
      }
      .product-desc {
        line-height: 1.6;
        font-weight: unset;
      }
      .product-price {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #f5f7ff;
        span {
          color: #7280a7;
          font-weight: 500;
        }
        color: var(--red);
        .sale-price {
          color: var(--red);
        }
      }
      .active-sale {
        position: relative;
        &.active-sale {
          margin: 0;
          color: #000;
          font-weight: normal;
          position: relative;
          width: max-content;
          line-height: normal;
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            border-radius: 100vh;
            color: #373435 !important;
            background-color: var(--red);
            transform: rotate(-15deg);
            right: -5px;
            bottom: 20px;
            left: 1px;
          }
        }
      }
      .product-quantity {
        display: flex;
        align-items: center;
        gap: 2px;
        span {
          color: green;
        }
        .product-extra-info {
          color: var(--dark-blue);
          font-weight: 500;
        }
      }
    }
    .cart-button-actions {
      display: flex;
      gap: 20px;
      .pay-btn {
        display: flex;
        gap: 10px;
        outline: none;
        border: none;
        color: #ffffff;
        background-color: var(--red);
        border-radius: 10px;
        padding: 15px 40px;
      }
    }
  }
}

@media (max-width: 1030px) {
  .product-page .product-detail-component {
    .product-detail-container {
      flex-direction: column;
      .productimage-container {
        width: 80%;
      }
      .product-info {
        width: 100%;
      }
    }
  }
}

@media (max-width: 555px) {
  .product-page .product-detail-component {
    .product-detail-container {
      flex-direction: column;
      .product-info {
        width: 100%;
        .product-info-details {
          flex-direction: column;
          gap: 2px;
          .seperate-line {
            display: none;
          }
        }
      }
    }
  }
}
